---
layout: single
permalink: /sitemap/
sitemap:
exclude: 'yes'

---

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 20px;
    }

    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        color: #666;
        font-size: 16px;
        line-height: 1.5;
    }

    /* Add more styles as needed */

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<h1>Sitemap</h1>

<p>This is a sitemap containing all pages on this website. XML sitemap version is also available at <a href="{{ site.url }}/sitemap.xml">/sitemap.xml</a>.</p>


{% assign sitemap = site.pages | sort: 'url' %}
<ul>
    {% for page in sitemap %}
    {% if page.sitemap != "exclude" %}
    {% if page.title != %}
    <li><a href="{{ site.url }}{{ page.url  }}">{{ page.title }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>